@CHARSET "UTF-8";

#chalkboard {
	position: relative;
	width: 780px;
	height: 540px;

	background-repeat:no-repeat;
	background-size:contain;

}
#canvas {

	position: relative;
	width: 780px;
	height: 540px;

	margin-right: auto;
	margin-left: auto;
}