/* MEMBER Color*/
.memcolor,     .memcolorTEXT,     .memcolor input    {color: #FFFF00;} /* dummy */
.memMEM1color, .memMEM1colorTEXT, .memMEM1color input{color: #BE0335;}
.memMEM2color, .memMEM2colorTEXT, .memMEM2color input{color: #FBCA16;}
.memMEM3color, .memMEM3colorTEXT, .memMEM3color input{color: #9AC01D;}
.memMEM4color, .memMEM4colorTEXT, .memMEM4color input{color: #56A2D3;}

.memMEM5color, .memMEM5colorTEXT, .memMEM5color input{color: #A01B1B;}
.memMEM6color, .memMEM6colorTEXT, .memMEM6color input{color: #DAB42E;}
.memMEM7color, .memMEM7colorTEXT, .memMEM7color input{color: #688F2E;}
.memMEM8color, .memMEM8colorTEXT, .memMEM8color input{color: #246486;}

.memMEM9color, .memMEM9colorTEXT, .memMEM9color input{color: #EA0075;}
.memME10color, .memME10colorTEXT, .memME10color input{color: #FCFF6A;}
.memME11color, .memME11colorTEXT, .memME11color input{color: #58FF46;}
.memME12color, .memME12colorTEXT, .memME12color input{color: #93DEFF;}

.memME13color, .memME13colorTEXT, .memME13color input{color: #CAC535;}
.memME14color, .memME14colorTEXT, .memME14color input{color: #97AF25;}
.memME15color, .memME15colorTEXT, .memME15color input{color: #158471;}
.memME16color, .memME16colorTEXT, .memME16color input{color: #41342C;}
                                                                    
.memME17color, .memME17colorTEXT, .memME17color input{color: #878C42;}
.memME18color, .memME18colorTEXT, .memME18color input{color: #BFA13F;}
.memME19color, .memME19colorTEXT, .memME19color input{color: #D16B48;}
.memME20color, .memME20colorTEXT, .memME20color input{color: #9E5151;}
                                                                    
.memME21color, .memME21colorTEXT, .memME21color input{color: #5682A9;}
.memME22color, .memME22colorTEXT, .memME22color input{color: #6C87A5;}
.memME23color, .memME23colorTEXT, .memME23color input{color: #6E6965;}
.memME24color, .memME24colorTEXT, .memME24color input{color: #CECFD3;}

.memcolor,     .memcolor input    {background-color: #FFFF00;} /* dummy */
.memMEM1color, .memMEM1color input{background-color: #BE0335;}
.memMEM2color, .memMEM2color input{background-color: #FBCA16;}
.memMEM3color, .memMEM3color input{background-color: #9AC01D;}
.memMEM4color, .memMEM4color input{background-color: #56A2D3;}

.memMEM5color, .memMEM5color input{background-color: #A01B1B;}
.memMEM6color, .memMEM6color input{background-color: #DAB42E;}
.memMEM7color, .memMEM7color input{background-color: #688F2E;}
.memMEM8color, .memMEM8color input{background-color: #246486;}

.memMEM9color, .memMEM9color input{background-color: #EA0075;}
.memME10color, .memME10color input{background-color: #FCFF6A;}
.memME11color, .memME11color input{background-color: #58FF46;}
.memME12color, .memME12color input{background-color: #93DEFF;}

.memME13color, .memME13color input{background-color: #CAC535;}
.memME14color, .memME14color input{background-color: #97AF25;}
.memME15color, .memME15color input{background-color: #158471;}
.memME16color, .memME16color input{background-color: #41342C;}
                                                            
.memME17color, .memME17color input{background-color: #878C42;}
.memME18color, .memME18color input{background-color: #BFA13F;}
.memME19color, .memME19color input{background-color: #D16B48;}
.memME20color, .memME20color input{background-color: #9E5151;}
                                                            
.memME21color, .memME21color input{background-color: #5682A9;}
.memME22color, .memME22color input{background-color: #6C87A5;}
.memME23color, .memME23color input{background-color: #6E6965;}
.memME24color, .memME24color input{background-color: #CECFD3;}

.memcolor,
.memMEM1color,
.memMEM2color,
.memMEM3color,
.memMEM4color,
.memMEM5color,
.memMEM6color,
.memMEM7color,
.memMEM8color,
.memMEM9color,
.memME10color,
.memME11color,
.memME12color,
.memME13color,
.memME14color,
.memME15color,
.memME16color,
.memME17color,
.memME18color,
.memME19color,
.memME20color,
.memME21color,
.memME22color,
.memME23color,
.memME24color,
.dummy
{padding: 5px 0 0 0;}

.memcolor     input,
.memMEM1color input,
.memMEM2color input,
.memMEM3color input,
.memMEM4color input,
.memMEM5color input,
.memMEM6color input,
.memMEM7color input,
.memMEM8color input,
.memMEM9color input,
.memME10color input,
.memME11color input,
.memME12color input,
.memME13color input,
.memME14color input,
.memME15color input,
.memME16color input,
.memME17color input,
.memME18color input,
.memME19color input,
.memME20color input,
.memME21color input,
.memME22color input,
.memME23color input,
.memME24color input,
.dummy
{padding: 0;}

/* Evevt Genre Color */
.genre000color {}
.genre001color {background-color: #FFCECE;}
.genre002color {background-color: #FEFCB4;}
.genre003color {background-color: #CDF2A4;}
.genre004color {background-color: #A0EBDC;}
.genre005color {background-color: #D9E4F7;}
.genre006color {background-color: #FBD5F9;}
.genre007color {background-color: #EEEBD0;}
.genre008color {background-color: #B3F7C7;}
.genre009color {background-color: #FFCACA;}
.genre010color {background-color: #F4AED1;}
.genre011color {background-color: #E0F3AF;}

